body {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.label {
  display: block;
}

input,
select {
  width: 100%;
}

.d-flex {
  display: flex;
}

.v-center {
  justify-content: center;
}

.h-center {
  align-items: center;
}

.pa-16 {
  padding: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.btn-success {
  background-color: green;
  color: white;
}

.btn-secondary {
  background-color: grey;
  color: white;
}

.w-50 {
  width: 50%;
}

button {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
}

button:last-child {
  margin-top: 1rem;
}

button.primary {
  background-color: rgb(3, 192, 3);
  color: #fff;
}